### MY470 Computer Programming
# Functional Programming in Python
### Week 10 Lab

## The functional programming paradigm

Core principles:
* Functions are deterministic and always produce the same output for the same input (set seed for stochastic process)
* Functions have no side effects (e.g. modify arguments, modify global variables, print)
* Variables and data are immutable
* Functions can be passed to other functions as parameters, returned by other functions as output, and stored in data structures
* Use recursion to implement iteration

## The functional programming paradigm

![Functional programming](figs/functional_programming.png "Functional programming")
Source: https://xkcd.com/1790/

## Advantages and disadvantages of functional programming

* Advantages
    * Code is easier to understand
    * Code is easier to test and debug
    * FP is needed to implement concurrency/parallelism
* Disadvantages
    * Pure functions and recursion can be difficult to understand
    * Immutable values and recursion can decrease performance
    * Immutable values require large memory space

## Functional programming in R vs. Python

* R is, at heart, a functional programming language and R users espouse the paradigm
    * `apply` functions
    * piping `%>%` with `dplyr`
    * anonymous functions: `lapply(mtcars, function(x) length(unique(x)))`
    
* Functional programming is enabled in Python but it is not the preferred paradigm
    * Guido van Rossum would rather have you use list comprehensions
    * FP tools can be helpful but there is no need to take the paradigm to an extreme

## Anonymous functions with `lambda`

`lambda parameter_1, parameter_2: expression`

## lambda functions: just a different way to define fuctions in Python

* Why should we care at this stage?
    * reading other's code
    * legibility
    * time
    
* How is it different?
    * anonimous
    * usually used only once
    * as many arguments as you want but one expression

* Should you use it?
    * legibility?

* Importance:
    * examples below

In [3]:
def square(a):
    return a*a
square(3)

In [5]:
f1 = lambda a: a*a
f1(4)

16

In [8]:
f2 = lambda a,b:  a/b
f2(100, 25)

4.0

In [11]:
f3 = lambda a,b,c,d,e,f: int(a+b/c**d-e+f)
f3(1,2,3,4,5,6)

2

In [12]:
nums = [1,2,3,4,5,6,7,8]

In [25]:
?filter

In [23]:
# old way
def is_even(n):
    return n%2 == 0
filtered = filter(is_even, nums)
filtered
type(filtered)
list(filtered)

[2, 4, 6, 8]

In [29]:
# new way
filtered = filter(lambda n: n%2 == 0, nums)
list(filtered)

[2, 4, 6, 8]

In [ ]:
# An Iterator is an object that can be used to loop through collections

In [32]:
authors = ['George Orwell', 'Zadie Smith', 'J.K. Rowling', 
           'Roald Dahl', 'Salman Rushdie']
# Return list ordered by length of author name
sorted(authors, key=len)

['Roald Dahl',
 'Zadie Smith',
 'J.K. Rowling',
 'George Orwell',
 'Salman Rushdie']

In [31]:
?sorted

In [43]:
# Old way to return a list of alphabetically ordered names 

def last_name_letter(name):  # define a function
    return name.split()[-1]

sorted(authors, key=  last_name_letter)  #use as a key

['Roald Dahl',
 'George Orwell',
 'J.K. Rowling',
 'Salman Rushdie',
 'Zadie Smith']

In [37]:
# New: Return list ordered alphabetically by last name
sorted(authors, key=  lambda name: name.split()[-1])

['Roald Dahl',
 'George Orwell',
 'J.K. Rowling',
 'Salman Rushdie',
 'Zadie Smith']

## Iteration with `filter`

`filter(function_to_evaluate_true, iterable)`

In [3]:
# Return list of authors whose last name starts with 'R'
list(filter(lambda name: name.split()[-1][0]=='R', authors))

## Iteration with `map`

`map(function_to_apply, iterable)`

In [44]:
?map

In [4]:
# Get the length of each name in authors
list(map(len, authors))

[13, 11, 12, 10, 14]

In [5]:
# Invert author name to Last, First
list(map(lambda name: ', '.join(reversed(name.split())), authors))

['Orwell, George',
 'Smith, Zadie',
 'Rowling, J.K.',
 'Dahl, Roald',
 'Rushdie, Salman']

In [50]:
# Use tab in jupiter!
help(', '.join)

Help on built-in function join:

join(iterable, /) method of builtins.str instance
    Concatenate any number of strings.

    The string whose method is called is inserted in between each given string.
    The result is returned as a new string.

    Example: '.'.join(['ab', 'pq', 'rs']) -> 'ab.pq.rs'

## Iteration with `reduce`

Applies a rolling computation to sequential pairs of values in an iterable

In [52]:
from functools import reduce

reduce(lambda x, y: x + ', ' + y, authors)  # equivalent to: ', '.join(authors)

'George Orwell, Zadie Smith, J.K. Rowling, Roald Dahl, Salman Rushdie'

In [54]:
# functools — Higher-order functions and operations on callable objects
# someone has written the functions for us

In [53]:
?reduce

In [59]:
# Exercise 1: Use map() and lambda to add each elements of two lists below. 
# The answer should be [101, 210, 400, 1400, 10500].

ls1 = [100, 200, 300, 400, 500]
ls2 = [1, 10, 100, 1000, 10000]

In [66]:
ls3 = list(map(lambda x, y: x+y, ls1, ls2))
print(ls3)

[101, 210, 400, 1400, 10500]

In [67]:
# Exercise 2: Now use a list comprehension to solve Exercise 1.
ls3 = [ls1[i] + ls2[i] for i in range(len(ls1))]
print(ls3)

[101, 210, 400, 1400, 10500]

In [9]:
# Exercise 3: Use map() and lambda to create a list consisting of 
# the frequency of the letter "a" (regardless of case) in each string
# in the list below. The answer should be [3, 4, 2, 3].

states = ["Alaska", "Alabama", "Arizona", "Arkansas"]

In [69]:
name  = "Alaska".lower() 
# Again, if you are unsure which method to use, use Tab to check your options
name.count('a')
?name.count

In [77]:
states = ["Alaska", "Alabama", "Arizona", "Arkansas"]
a_counts = list(map(lambda x: x.lower().count("a"), states))
print(a_counts)

[3, 4, 2, 3]

In [15]:
# Exercise 4: Use filter() and lambda to get a list 
# of all the vowels in the string.

sentence = 'They did nothing as the raccoon attacked the lady’s bag of food.'

In [78]:
sentence = 'They did nothing as the raccoon attacked the lady’s bag of food.'

vowels = list(filter(lambda x: True if x.lower() in 'aeiou' else False, sentence))
print(vowels)

['e', 'i', 'o', 'i', 'a', 'e', 'a', 'o', 'o', 'a', 'a', 'e', 'e', 'a', 'a', 'o', 'o', 'o']